/*start global*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*end global*/
/**********************************************************/
/********************&&mariam&&*************************/
/*start header*/


/*end header*/
/**********************************************************/
/********************&&mariam&&*************************/
/*start services*/


/*end services*/
/**********************************************************/
/********************&&lamiaa&&*************************/
/*start portfolio*/


/*end portfolio*/
/**********************************************************/
/********************&&eman&&*************************/
/*start about*/


/*end about*/
/**********************************************************/
/********************&&mohammed&&*************************/
/*start team*/


/*end team*/
/**********************************************************/
/********************&&mohammed&&*************************/
/*start contact*/


/*end contact*/
/**********************************************************/
/********************&&mariam&&*************************/
/*start footer*/


/*end footer*/
/**********************************************************/
