/*start global*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*end global*/
/**********************************************************/
/********************&&mariam&&*************************/
/*start header*/


/*end header*/
/**********************************************************/
/********************&&mariam&&*************************/
/*start services*/


/*end services*/
/**********************************************************/


/********************&&lamiaa&&*************************/
/*start portfolio*/
#portfolio{
    background-color: #F8F9FA;
    padding-top: 4em;
    padding-bottom: 6em;
}
#portfolio .prot_top{
    margin-bottom: 15vh;
    
}
#portfolio  .pra {
    font-family: 'Roboto Slab', serif;
    letter-spacing: .2px;
    color: #1401018a;
    font-weight: 400 !important;
    font-size: 18px;
}
#portfolio  .p_h{
    letter-spacing: 2px;
    font-size: 900 !important;
    font-weight: 700;
    
}





#body_prtfolio  .image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
  
#body_prtfolio .overlay {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    height: 77%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FED136;
}
  
#body_prtfolio a:hover .overlay {
    opacity: 1;
}
  
#body_prtfolio .text {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



/*end portfolio*/
/**********************************************************/
/********************&&eman&&*************************/
/*start about*/
#about .container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-head h1{

    text-transform: uppercase;
    font-weight: 700;
}

.about-head p{
    font-style: italic;

}
.right-text{
    text-align: right;
}

#about h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
}
#about p{
   color: rgb(108, 117, 125);
   line-height: 1.75;
   font-family: 'Roboto Slab', '-apple-system';
}
#about .row{
    position: relative;
}
.about-head::after{
    content: "";
    width: 2px;
    height: 1150px;
    position: absolute;
    top: 250px;
    left: 620px;
    z-index: -1; 
    background-color: rgb(219, 219, 219);;

}

.about-content{
    padding: 0 55px 20px 75px;
}
#about .img-container, .about-end{
    border: 6px solid rgb(219, 219, 219);
    border-radius: 100%;
    width: 170px;
    height: 170px;
    padding: 0;
    

}
#about img{
    border:3px solid rgb(255, 200, 0);
    border-radius: 50%;
    width: 100%;
}
#about .row, .about-head{
    margin-bottom: 60px;
    position: relative;
}

#about .right-content{
    margin-left: 55px;

}

.about-end{
    background-color: rgb(255, 200, 0);
    color:white;
    text-align: center;
    padding-top: 30px;
    margin: 0 535px;


}
@media (max-width:1400px){
    .about-head::after{
        left:543px;
        height: 1250px;
    }

   .about-end{
    margin-left: 460px;
   }
}

@media (max-width:1200px){
    .about-head::after{
        left:460px;
        height: 1280px;
    }

    .about-content{
        padding-left: 0;
    }

    #about .right-content{
        margin-left: 0;
    }

    #about .img-container, .about-end {
        width: 150px;
        height: 150px;

    }
    
    .about-end {
        margin-left: 390px;
        padding-top: 20px;
    }

}

@media (max-width:991px){
    .about-head::after{
        left: 335px;
        height: 1680px;
        top: 210px;
    }

    #about .img-container, .about-end {
        width: 100px;
        height: 100px;

    }

    .about-end{
        padding-top: 15px;
        margin-left: 286px;
    }

    
    .about-end h4 {
        font-size: 15px;
    }

}

@media (max-width:767px){ 
    .about-head::after{
        left: 260px;
        height: 2195px;
    }
    .about-end {
        margin-left: 212px;
    }
    
}

@media (max-width:567px){
    .about-head::after{
        left: 33px;
        top:370px;
        height: 1300px;
    }

    #about .img-container, .about-end {
        margin-left: 20px;
    }

    .about-end {
        margin-left: 0;
    }
}
/*end about*/
/**********************************************************/
/********************&&mohammed&&*************************/
/*Start team*/
#team{
    background-color: #F8F9FA;
    padding: 6rem 0;
}
#team h2{
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    padding: 5px;
    font-weight: 700;
}
#team h3{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
    color: rgb(108, 117, 125);
    padding: 5px;
}
#team .row img{
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
#team .row h4{
    margin-top: 1.5rem;
    margin-bottom: 0px;
    font-size: 1.5rem;
    padding: 5px;
    font-weight: 700;
}
#team a{
    border-radius: 50%;
}
#team i{
    height: 1em;
}
#team #last{
    margin-top: 50px;
}

.py-5 img{
    height: 2.75rem;
}
/*end team*/






/*start contact*/
#contact{
    background-color: rgb(33, 37, 41);
    background-image: url(../images/map-image.png);
    padding: 6rem 0;
    background-repeat: no-repeat;
    background-position: center;
}
#contact h2{
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    padding: 5px;
    font-weight: 700;
    color: #fff;
}
#contact h3{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
    color: rgb(108, 117, 125);
    padding: 5px;
}
#contact form .group{
    margin-bottom: 1.5rem;
}
#contact form .group input{
    padding: 1.25rem;
}
#contact form .group textarea{
    height: 15rem;
    padding: 1.25rem;
}
#contact button{
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
}

#contact form .alert{
    color: #f00;
    display: none;
}
#contact form .alert span{
    display: block;
}
/*end contact*/

/**********************************************************/
/********************&&mariam&&*************************/
/*start footer*/




/*end footer*/
/**********************************************************/
